.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.customNode {
  background-color: white;
  width: 12rem;
  width: 100%;
}

.panelElement {
  height: auto;
  /* width: 14rem; */
  border-radius: 15%;
  box-shadow: 10px 5px 8px 5px teal;
}

.messageHeading {
  height: 1.5rem;
  background-color: rgb(0, 255, 234);
  padding: 8px 20px;

}



.header {
  text-align: center;
}

.actualMessage {
  height: 3rem;
  padding: 8px 20px;
}

.settings {
  /* width: 100%; */
  border: 2px solid rgb(187, 255, 0);
  padding: 20px;
  margin-top: 10px;
}

.settingsHeader {
  width: 100%;
  text-align: center;
  height: 50px;
  padding-top: 20px;
}

.settingsInput {
  outline: none;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}